{% load static %}

<br>
<form id="map-filter-form">
    {% csrf_token %}
    <div class='d-flex text-center'>
        <div class="col-4">
            <i class="fa-solid fa-calendar icono"></i>
        </div>
        <div class="col-8 contenedor-fecha">
            <input type="date" name="fecha" id="fecha">
        </div>
    </div>
    <div class='d-flex text-center'>
        <div class='col-6 p-4'>
            <Select name='estado' id='estado' class="margin-0 form-select form-select-sm select-filtrar">
                <option value="-1">Estado</option>
                {% for estado in estados %}
                    <option value="{{ estado.id }}">{{ estado.nombre }}</option>
                {% endfor %}
            </Select>
        </div>
        <div class='col-6 p-4'>
            <Select name='municipio' id='municipio' class="margin-0 form-select form-select-sm select-filtrar">
                <option value="-1">Municipio</option>
                {% for municipio in municipios %}
                    <option value="{{ municipio.id }}">{{ municipio.nombre }}</option>
                {% endfor %}
            </Select>
        </div>
    </div>
    <div class='d-flex text-center'>
        <label class="col-1"></label>
        <label class="col-2">
            <input type="radio" name="tipo_incidente" id="Ambulancia" value="-1" checked>
            <img src="{% static 'images/icons/ambulancia icon.png' %}" alt="Ambulancia" class="icon">
            <br>
            <p>
                Todos
            </p>
        </label>
        <label class="col-2">
            <input type="radio" name="tipo_incidente" id="Ambulancia" value="1">
            <img src="{% static 'images/icons/ambulancia icon.png' %}" alt="Ambulancia" class="icon">
            <br>
            <p>
                Ambulancia
            </p>
        </label>
        <label class="col-2">
            <input type="radio" name="tipo_incidente" id="Ambulancia" value="2">
            <img src="{% static 'images/icons/choque icon.png' %}" alt="Accidente de tráfico" class="icon">
            <br>
            <p>
                Accidente de
                <br>
                tráfico
            </p>
        </label>
        <label class="col-2">
            <input type="radio" name="tipo_incidente" id="Ambulancia" value="3">
            <img src="{% static 'images/icons/gun icon.png' %}" alt="Tiroteo" class="icon">
            <br>
            <p>
                Tiroteo
            </p>
        </label>
        <label class="col-2">
            <input type="radio" name="tipo_incidente" id="Ambulancia" value="4">
            <img src="{% static 'images/icons/robber icon.png' %}" alt="Asaltante" class="icon">
            <br>
            <p>Asaltante</p>
        </label>
    </div>

    <div class="d-block">
        <div class="col-12 w-100 text-center">
            <a class="btn btn-secondary boton-filtrar p-3">Limpiar</a>
        </div>
        <div class="col-12 w-100 text-center">
            <button class="btn btn-primary boton-filtrar p-3" type="submit">Filtrar</button>
        </div>
        <div class="d-flex">
            <ul class="col-12 list-group lista" id="lista-incidentes">
                {% for incidente in incidentes %}
                    <li class="list-group-item incidente p-3 my-0" onclick="redirigirMapa('{{incidente.tipo_incidente}}','{{incidente.latitud}}','{{incidente.longitud}}')">
                        <div class=" d-flex justify-content-between align-items-center">
                            <div class="text-start">
                                <img src="{{incidente.icon}}" alt="{{incidente.tipo_incidente}}" class="icon">
                            </div>
                            <div class="text-center">
                                {{incidente.tipo_incidente}}
                            </div>
                            <div class="text-center">
                                {{incidente.publicador}}
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</form>

<div class="modal fade" id="modal-detalle" role="dialog">

</div>

<div class="modal fade" id="modal-nuevo-incidente" role="dialog">
    {% include 'modal_nuevo_incidente.html' %}
</div>

<script>
    let map;
    let geocoder;
    var markers = [];
    var infoWindow;

    // TODO Conseguir que se carguen los marcadores iniciales.
    function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 22.767470686050675, lng: -102.59196597852653 },
            zoom: 14,
        });
        geocoder = new google.maps.Geocoder();
        infoWindow = new google.maps.InfoWindow();

        map.addListener("click", (mapsMouseEvent) => {
            infoWindow.close();
            abrirModalNuevoIncidente(mapsMouseEvent.latLng.toJSON());
        });

        {{lista_incidentes|safe}}.forEach((incidente) => {
            var marker = createMarker(parseFloat(incidente.latitud), parseFloat(incidente.longitud), incidente.tipo_incidente, {url: incidente.icon, scaledSize: new google.maps.Size(25, 25)});
            marker.addListener("click", () => {
                abrirModalDetalle('/api/detalle-incidente/' + incidente.id);
            });
            markers.push(marker);
        });
    }

    function redirigirMapa(tipo_incidente, lat, lng){
        map.setCenter({lat: parseFloat(lat), lng: parseFloat(lng)});
        map.setZoom(16);
    }
    
    function createMarker(lat, lng, title, icon) {
        var marker = new google.maps.Marker({
            position: { lat: lat, lng: lng },
            map: map,
            icon: icon,
            title: title,
        });
        return marker;
    }

    window.initMap = initMap;

    function abrirModalDetalle(url){
        $("#modal-detalle").load(url, function (){
            $("#modal-detalle").modal("show");
        });
    }

    function abrirModalNuevoIncidente(json){
        $('#latitud').val(json.lat);
        $('#longitud').val(json.lng);
        geocodeLatLng();
        $('#modal-nuevo-incidente').modal('show');
    }

    function hideModal(modal){
        $(modal).modal("hide");
    }
    
    function geocodeLatLng() {
        const lat = document.getElementById("latitud").value;
        const lng = document.getElementById("longitud").value;
        const latlng = {
          lat: parseFloat(lat),
          lng: parseFloat(lng),
        };
        geocoder
            .geocode({ location: latlng })
            .then((response) => {
                if (response.results[0]) {
                    var direccion = response.results[0];
                    $('#direccion').val(direccion.formatted_address); 
                    var municipio; //locality
                    var estado; //administrative_area_level_1

                    direccion.address_components.forEach( (direccion) =>{
                        direccion.types.forEach( (tipo) => {
                            if(tipo == "locality"){
                                municipio = direccion.long_name;
                            }
                            if(tipo == "administrative_area_level_1"){
                                estado = direccion.long_name;
                            }
                        })
                    });
                    document.getElementById('estado_form').setAttribute('value', estado);
                    document.getElementById('municipio_form').setAttribute('value', municipio);
                } else {
                    window.alert("No results found");
                }
            })
            .catch((e) => window.alert("Fallo al conseguir la direccion con el geodecoder: " + e));
      }



    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    const form = document.querySelector('#map-filter-form');

    function filtrar_incidentes(event){
        event.preventDefault();
        const request = new Request(
            "{% url 'api:filtrar_incidentes' %}",{
                method: 'POST',
                headers: {'X-CSRFToken': csrfToken},
                mode: 'same-origin',
                body: new FormData(form)
            }
        );
        fetch(request)
            .then((response) => {
                if (response.ok){
                    return response.json();
                }
                throw new Error('No recibi respuesta del servidor');
            })
            .then(function(data) {
                $("#lista-incidentes ul").empty();
                markers.forEach(marker => marker.setMap(null));
                data.forEach(element => {
                    $("#lista-incidentes ul").append('<li class="list-group-item incidente p-3 my-0"><div class="d-flex justify-content-between align-items-center"><div class="text-start"><img src="'+element.icon+'" alt="'+element.tipo_incidente+'" class="icon"></div><div class="text-center">'+element.tipo_incidente+'</div><div class="text-center">'+element.publicador.username+'</div></div></li>');
                    $("#lista-incidentes ul li:last-child").attr('onClick', 'redirigirMapa("'+element.tipo_incidente+'", '+element.latitud+', '+element.longitud+')');
                    var new_marker = createMarker(parseFloat(element.latitud), parseFloat(element.longitud), element.tipo_incidente, {url: element.icon, scaledSize: new google.maps.Size(25, 25)});
                    new_marker.addListener("click", () => {
                        abrirModalDetalle('/api/detalle-incidente/' + element.id);
                    });
                    markers.push(new_marker);
                });
            });
    }
    form.addEventListener('submit', filtrar_incidentes);

    const form_nuevo_incidente = document.querySelector('#form-nuevo-incidente');
    
    function publicar_incidente(event){
        event.preventDefault();
        const request = new Request(
            "{% url 'api:incidentes' %}",{
                method: 'POST',
                headers: {  'X-CSRFToken': csrfToken,
                            'Authorization': 'Token {{token}}'},
                mode: 'same-origin',
                body: new FormData(form_nuevo_incidente)
            }
        );
        fetch(request)
            .then((response) => {
                if (response.ok || response.status == 400){
                    return response.json();
                }
                throw new Error('No recibi respuesta del servidor');
            })
            .then(function(data) {
                if (data['errors']){
                    alert(data['message'])
                    return;
                }
                hideModal('#modal-nuevo-incidente');
                $("#lista-incidentes ul li:first").before('<li class="list-group-item incidente p-3 my-0"><div class="d-flex justify-content-between align-items-center"><div class="text-start"><img src="'+data.icon+'" alt="'+data.tipo_incidente+'" class="icon"></div><div class="text-center">'+data.tipo_incidente+'</div><div class="text-center">'+data.publicador.username+'</div></div></li>');
                $("#lista-incidentes ul li:first").attr('onClick', 'redirigirMapa("'+data.tipo_incidente+'", '+data.latitud+', '+data.longitud+')');
                var new_marker = createMarker(parseFloat(data.latitud), parseFloat(data.longitud), data.tipo_incidente, {url: data.icon, scaledSize: new google.maps.Size(25, 25)});
                new_marker.addListener("click", () => {
                    abrirModalDetalle('/api/detalle-incidente/' + data.id);
                });
                markers.push(new_marker);
            });
    }
    form_nuevo_incidente.addEventListener('submit', publicar_incidente);

    
</script>


